*{
    max-width: 100%;
}
.navbar{
    width: auto;
  height: 100px;
  background: #21325e;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}
.links{
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
}
.resume{
  margin-right: 15px;
  display: inline;
  position: absolute;
  right: 0;
}
.link{
    margin-left: 10px;
    margin-right: 10px;
}
.prompt svg {
    font-size: 45px;
    margin: 10px;
    color: white;
    transition: font-size 0.5s;
    transition: color 1s;
  }
  svg:hover{
    font-size: 50px;
    color: gold;
  }
  .prompt {
    width: 50%;
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;
  }